{% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BlueMoon — Home</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}" />
  </head>

  <body>
    <!-- TOP BAR -->
    <header class="topbar">
      <div class="container topbar-inner">
        <a class="brand" href="{% url 'home' %}">
          <span class="brand-mark" aria-hidden="true">
            <img src="{% static 'img/app_logo.png' %}" alt="BlueMoon" />
          </span>

          <span class="brand-name">BlueMoon</span>
        </a>

        
        <nav class="topbar-actions" aria-label="actions">
          <a href="{% url 'login' %}" class="btn-login">Đăng nhập</a>
        </nav>
      </div>
    </header>

    <main class="page">
      <div class="container">
        <!-- HERO -->
        <section class="hero">
          <h1>BlueMoon</h1>
          <p>
            Hệ thống quản lý cư dân – hộ khẩu – thu phí – thống kê cho chung cư
            BlueMoon
          </p>
        </section>
       
        

        <footer class="footer">
          <span class="muted">&copy; BlueMoon Apartment 2026.</span>
        </footer>
      </div>
    </main>
  </body>
</html>
