{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>accountmanage'</title>

  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
  <link rel="stylesheet" href="{% static 'css/accountmanage.css' %}">
</head>
<body>  
  <header class="topbar">
    <button id="btnOpen" class="icon-btn" aria-controls="sidebar" aria-expanded="false" aria-label="Mở menu">
      ☰ Menu
    </button>
    <h1>BLUEMOON - Dashboard</h1>
  </header>

  <div id="overlay" class="overlay" tabindex="-1" hidden></div>

  
  <div class="hrcontainer">
    <div class="hrsearch-bar">
      <input type="text" placeholder="Thanh tìm kiếm...">
      <button>Tìm kiếm</button>
    </div>

    <div class="hrmember-list">
      <h1>Danh sách Tài Khoản</h1>
    <table border="1" cellpadding="5" style="width: 80%; margin: 0 auto;">
          <tr>
              <th>ID tài khoản</th>
              <th>username</th>
              <th>pass</th>
              <th>Vai trò</th>
          </tr>
          {% for hk in tai_khoan_list %}
          <tr>
              <td>{{ hk.id_tai_khoan}}</td>
              <td>{{ hk.username}}</td>
              <td>{{ hk.password }}</td>
              <td>{{ hk.vai_tro}}</td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="3">Không có dữ liệu</td>
          </tr>
          {% endfor %}
      </table>   

    </div>

    <div class="hrbutton-bar">
      <button class="hrbtn">Thêm tài khoản</button>
      
    </div>
  </div>
    <aside id="sidebar" class="sidebar" role="navigation" aria-hidden="true">
      <div class="sidebar-header">
        <h2>Menu</h2>
        <button id="btnClose" class="close-btn" aria-label="Đóng menu">✕</button>
      </div>
  
      <nav class="nav">
        <a href="#">Quản lý hộ khẩu</a>
        <a href="#">Quản lý nhân khẩu</a>
        <a href="#">Quản lý tài khoản</a>
        
      </nav>
      <div class="logout">
          <button>Đăng xuất</button>
        </div>
  
      <div class="sidebar-footer">
        <small>© 2025 BLUEMOON</small>
      </div>
    </aside>
    <script src="{% static 'js/sidebar.js' %}"></script>
  </body>
</html>
